.AddBooksOut {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100vw;
}

.AddBooks {
  display: flex;
  flex-direction: row;
}
.AddBooks p {
  text-align: center;
}
.AddBooks .r {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  align-items: center;
  background-color: #e0e7ee;
  justify-content: center;
  align-self: center;
}
.AddBooks .r {
  flex-grow: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AddBooks .firstline {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  width: 450px;
  height: 100vh;
  padding: 20px;
  color: rgb(6, 14, 48);
  text-align: center;
  align-self: center;
  align-content: center;
}
.AddBooks .firstline Button {
  justify-content: center;
  align-self: center;
  width: 500px;
}
.AddBooks .first p {
  line-height: 40px;
}
.AddBooks .para p {
  font-size: 21px;
  width: 500px;
  font-weight: 400;
  margin-top: 2%;
  line-height: 30px;
  text-align: left;
  color: #808080;
}
.AddBooks .get {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.AddBooks .get img {
  text-align: center;
  align-content: center;
  height: 100vh;
  width: 55vw;
}
